@tailwind base;
@tailwind components;
@tailwind utilities;

/* Establece variables y estilos base en :root para un control universal */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Importación y configuración de la fuente personalizada */
@font-face {
    font-family: 'Gaoel';
    src: url('../fonts/gaoel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'BreymontB';
  src: url('../fonts/BreymontB.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'BreymontL';
  src: url('../fonts/BreymontL.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}


/* Estilos base para el body */
/* Estilos base para el body */
/* Estilos base para el body */
body {
  /* background: linear-gradient(135deg, #0F172A 0%, #1E3A8A 50%, #647ACB 100%); */
  background: #040404;
  /* background-image: url('../img/body.png');
  background-repeat: no-repeat;
  background-size: cover; */

  margin: 0;
  padding: 0;
  /* display: flex;
  place-items: center; */
  min-width: 100vw;
  min-height: 100vh;
}
